#container-principal{
    background-image: url(../img/main\ background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#main{
    margin: 20px;
    padding: 20px;
}

h1{
    padding: 20px;
    margin: 30px;
    text-align: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color: green;
    font-size: 45px;

}

.card{
    margin: 20px;
    padding: 20px;
    height: 300px;
    color: white;
    background-color: rgba(8, 151, 8, 0.719);
    text-align: center;
    justify-content: center;
}

/*Estilização Menu*/
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


header{
    background-color: rgb(15, 180, 51);
    box-shadow: 0px 3px 10px rgb(25, 186, 189);
}

.nav-bar{
    display: flex;
    justify-content: center;
    padding: 1.5rem 6rem;
}


.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

/*Estilização Menu*/

